body, p {
    margin: 0;    
    font-size: 14px;
    color: #000000;
    font-family: Helvetica, Tahoma, Arial, sans-serif;           
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {    
    text-decoration: none;  
    color: inherit;
    cursor: pointer;    
}

button {
    cursor: pointer;
    background-color: rgb(0, 0, 139, 0.1);    
    border: darkblue solid 1px;
    border-radius: 3px;
    transition: opacity 0.4s ease, transform 0.4s ease;
    font-size: 15px;
}

button:hover {
    background-color: rgb(0, 0, 139, 0.2);
}

.container {           
    margin: 0 auto;   
    max-width: 800px;     
}

@media (max-width: 600px) { 
    .container {
        max-width: 600px;
    } }

/* Блок-заголовок */
.zag {
    margin-top: 10px;
    width: 100%;
    height: max-content;
    text-align: center;
    color: darkblue
}

/* Кнопка Открыть/закрыть все */
.search {
    margin: 10px 0;
    display: flex;           /* Включаем режим Flexbox */    
    height: 3em;         /* Задаем высоту родителя */    
    align-items: stretch;    /* Все элементы принимают одинаковую высоту */
    width: 100%;             /* Блок занимает всю доступную ширину */
    gap: 2px;                /* Отступ между элементами */    
}

.b_zag {
    width: 84.57%;  
    height: 100%;    
    display: flex;           /* Включаем режим Flexbox */
    flex-grow: 1;            /* Блок будет занимать оставшееся пространство */
    justify-content: left;   /* Горизонтальное выравнивание элементов по левому */
    align-items: center;     /* Вертикальное выравнивание элементов по центру */
    font-size: 14px;   
    background-color: rgb(0, 0, 139, 0.01);
    padding: 10px;
}

.btn_all {
    width: 15.43%;
    height: 100%;    
}

/* Главный блок с модальным окном */

/* Блок-блок: имя, инфо, стрелки */
.bi_block {
    margin: 10px 0;
    display: flex;           /* Включаем режим Flexbox */    
    min-height: 3em;         /* Задаем высоту родителя */
    max-height: fit-content;
    align-items: stretch;    /* Все элементы принимают одинаковую высоту */
    width: 100%;             /* Блок занимает всю доступную ширину */
    gap: 2px;                /* Отступ между элементами */    
}

/* Имя */
.bi_block_zag {
    width: 85%;  
    height: 100%;    
    display: flex;           /* Включаем режим Flexbox */
    flex-grow: 1;            /* Блок будет занимать оставшееся пространство */
    justify-content: left;   /* Горизонтальное выравнивание элементов по левому */
    align-items: center;     /* Вертикальное выравнивание элементов по центру */
    font-size: 20px;   
    background-color: rgb(0, 0, 139, 0.05);
    padding: 10px;
}
/* Кнопка Инфо */
.bi_button_look {
    width: 10%;       
    flex-shrink: 0;          /* Элементы не сжимаются меньше своего базового размера */
    display: flex;           /* Включаем режим Flexbox */
    justify-content: center; /* Горизонтальное выравнивание элементов по центру */
    align-items: center;     /* Вертикальное выравнивание элементов по центру */
    font-size: 15px;
}
/* Стрелка-преключатель */
.toggle-button {
    width: 5%;    
    flex-shrink: 0;
    text-align: center;    
    display: flex;           /* Включаем режим Flexbox */
    justify-content: center; /* Горизонтальное выравнивание элементов по центру */
    align-items: center;     /* Вертикальное выравнивание элементов по центру */
    color: darkblue;
    font-size: 2rem;        
}
/* Рамки всем элементам */
.bi_block_zag, .toggle-button, .bi_dep_zag, .b_zag, .btn_all {
    border: darkblue solid 1px;
    border-radius: 3px;   
}

/* Блок с департаментами (изначально скрыт) */

.hidden-block {
    max-width: 100%;
    height: auto;
    display: none;           /* Изображение изначально скрыто */    
}

/* Блок с одним департаментом: имя, инфо */
.bi_dep {    
    margin: 10px 20px;
    width: 90%; 
    display: flex;           /* Включаем режим Flexbox */    
    min-height: 3em;         /* Задаем высоту родителя */
    max-height: fit-content;
    align-items: stretch;    /* Все элементы принимают одинаковую высоту */                 
    gap: 2px;                /* Опциональный отступ между элементами */    
}
/* Имя */
.bi_dep_zag {
    width: 95%;    
    height: 100%;  
    display: flex;           /* Включаем режим Flexbox */
    flex-grow: 1;            /* Блок будет занимать оставшееся пространство */
    justify-content: left; /* Горизонтальное выравнивание элементов по центру */
    align-items: center;     /* Вертикальное выравнивание элементов по центру */
    font-size: 18px;
    background-color: rgb(0, 0, 139, 0.015);
    padding: 10px;    
}


        
/* Модальное окно (скрыто по умолчанию) */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }
        
        /* Контент внутри модального окна */
        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            max-width: 600px;
            text-align: center;
        }
        
        /* Кнопка крестик */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


        